* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif; }

.bg {
  width: 100%;
  background-color: #000;
  overflow-x: hidden; }
  .bg header {
    position: fixed;
    width: 100%;
    height: 15vh;
    z-index: 5;
    color: #fff;
    text-align: center;
    margin: .5em auto;
    padding: 1em;
    border: 1px solid red;
    background-color: #000;
    margin: 0 auto; }
    .bg header #title {
      font-size: 2em; }
    .bg header #description {
      color: #07df07;
      font-weight: 500;
      font-size: 1.3em;
      opacity: .9; }
    @media (max-width: 768px) {
      .bg header #title {
        font-size: 1.3em; }
      .bg header #description {
        font-size: .8em; } }
  .bg .form-container {
    position: relative;
    background-color: #f4f4f4;
    opacity: 0.98;
    padding: .5em;
    margin: 17vh auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px green;
    opacity: .9; }
    .bg .form-container fieldset {
      margin: 2em auto;
      overflow: hidden;
      padding: .5em;
      text-align: left;
      border: 1px solid #000;
      border-radius: 5px;
      height: auto; }
      .bg .form-container fieldset legend {
        margin: .5em; }
      .bg .form-container fieldset label {
        color: #146405;
        font-size: 1.3em;
        font-weight: 800; }
      .bg .form-container fieldset input, .bg .form-container fieldset select, .bg .form-container fieldset textarea {
        margin-bottom: 1em;
        border-radius: 5px;
        padding: .5em; }
        .bg .form-container fieldset input:invalid, .bg .form-container fieldset select:invalid, .bg .form-container fieldset textarea:invalid {
          background-color: rgba(255, 166, 0, 0.185); }
  @media (max-width: 768px) {
    .bg .form-container {
      width: 90%; } }
