* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif; }

.bg {
  width: 100%;
  background-color: #000;
  overflow-x: hidden; }
  .bg header {
    position: fixed;
    width: 100%;
    height: 15vh;
    z-index: 5;
    color: #fff;
    text-align: center;
    margin: .5em auto;
    padding: 1em;
    background-color: #000;
    margin: 0 auto; }
    .bg header #title {
      font-size: 2em; }
    .bg header #description {
      color: #07df07;
      font-weight: 500;
      font-size: 1.3em;
      opacity: .9; }
    @media (max-width: 768px) {
      .bg header #title {
        font-size: 1.3em; }
      .bg header #description {
        font-size: .8em; } }
  .bg .form-container {
    position: relative;
    background-color: #f4f4f4;
    opacity: 0.98;
    padding: .5em;
    margin: 17vh auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px green;
    opacity: .9; }
    .bg .form-container fieldset {
      margin: 2em auto;
      overflow: hidden;
      padding: .5em 1em;
      text-align: left;
      border: none;
      border-radius: 5px;
      height: auto;
      display: flex;
      flex-direction: column;
      position: relative; }
      .bg .form-container fieldset::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        box-shadow: inset 2px 2px 5px #ddda, inset -2px -2px 5px #000a; }
      .bg .form-container fieldset legend {
        margin: .5em;
        text-transform: capitalize;
        color: #ddd;
        font-size: 1.2em;
        padding: .4em .7em;
        border-radius: 5px;
        background-color: #146405;
        box-shadow: inset 2px 2px 5px #fffa, inset -2px -2px 5px #000a; }
      .bg .form-container fieldset label {
        color: #000;
        font-size: 1.3em;
        font-weight: 800;
        text-transform: capitalize;
        margin-top: .5em;
        padding: 0 0 .2em .2em; }
      .bg .form-container fieldset input, .bg .form-container fieldset select, .bg .form-container fieldset textarea {
        margin-bottom: 1em;
        border-radius: 5px;
        padding: .5em; }
        .bg .form-container fieldset input::placeholder, .bg .form-container fieldset select::placeholder, .bg .form-container fieldset textarea::placeholder {
          font-size: .8em; }
        .bg .form-container fieldset input:invalid, .bg .form-container fieldset select:invalid, .bg .form-container fieldset textarea:invalid {
          background-color: rgba(255, 153, 0, 0.185); }
        .bg .form-container fieldset input:focus, .bg .form-container fieldset select:focus, .bg .form-container fieldset textarea:focus {
          background-color: rgba(0, 128, 0, 0.205); }
      .bg .form-container fieldset textarea {
        width: 100%; }
    .bg .form-container .options p {
      font-size: 1.5em;
      text-align: left; }
    .bg .form-container #submit {
      display: block;
      margin: 1em auto;
      padding: .3em 2em;
      cursor: pointer;
      border: none;
      outline: none;
      font-weight: 600;
      font-size: 1.2rem;
      transition: .2s ease-in-out;
      position: relative;
      z-index: 1; }
      .bg .form-container #submit::before, .bg .form-container #submit::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        background-color: darkgreen;
        transition: .3s ease; }
      .bg .form-container #submit::before {
        z-index: -1;
        box-shadow: inset 3px 3px 5px #ddda, inset -3px -3px 5px #000a; }
      .bg .form-container #submit::after {
        z-index: -1;
        opacity: 0;
        box-shadow: inset 3px 3px 5px #000a, inset -3px -3px 5px #ddda; }
      .bg .form-container #submit:hover::before {
        opacity: 0; }
      .bg .form-container #submit:hover::after {
        opacity: 1; }
      .bg .form-container #submit:active {
        transition: .2s;
        transform: scale(0.9); }
  @media (max-width: 768px) {
    .bg .form-container {
      width: 90%; } }
