@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif; }

.bg {
  width: 100%;
  background-color: #000;
  overflow-x: hidden; }
  .bg header {
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 5;
    color: #fff;
    text-align: center;
    margin: .5em auto;
    padding: .5em .5em 0;
    background-color: #000;
    margin: 0 auto; }
    .bg header #title {
      font-size: 1.5em; }
    .bg header #description {
      color: #07df07;
      font-weight: 500;
      font-size: 1.3em;
      opacity: .9; }
    .bg header #toggle {
      display: block;
      position: absolute;
      right: 1em;
      top: 1em;
      cursor: pointer; }
    .bg header nav {
      position: absolute;
      right: -100%;
      top: 10vh;
      width: 100%;
      background-color: #000;
      height: 50vh;
      transition: .5s ease; }
      .bg header nav ul {
        margin: 5vh 0; }
        .bg header nav ul li {
          padding: 1em .5em;
          text-align: left;
          list-style: none; }
          .bg header nav ul li a {
            border-bottom: 2px solid green;
            padding: .5em 0;
            width: 30%;
            display: block;
            text-decoration: none;
            color: #f4f4f4;
            text-transform: capitalize; }
      .bg header nav.active {
        right: -60%; }
    @media (max-width: 768px) {
      .bg header {
        height: 8vh; }
        .bg header #title {
          font-size: 1em; }
        .bg header #description {
          font-size: .8em; }
        .bg header nav {
          top: 8vh; } }
  .bg .form-container {
    position: relative;
    background-color: #f4f4f4;
    padding: 1em;
    margin: 20vh auto 5vh;
    width: 80%;
    border-radius: 10px; }
    @media (max-width: 768px) {
      .bg .form-container {
        width: 100%;
        margin: 10vh auto 0;
        border-radius: 0;
        border: none; } }
    .bg .form-container small {
      font-style: italic;
      margin-bottom: 1em; }
    .bg .form-container fieldset {
      margin: 2em auto;
      overflow: hidden;
      padding: .5em 1em;
      text-align: left;
      border: 2px solid green;
      border-radius: 5px;
      height: auto;
      display: flex;
      flex-direction: column;
      position: relative; }
      .bg .form-container fieldset .form-group label {
        display: flex;
        justify-content: flex-start; }
      .bg .form-container fieldset .form-control {
        font-size: 1em; }
      .bg .form-container fieldset legend {
        margin-bottom: .5em;
        text-transform: capitalize;
        color: #ddd;
        font-size: 1.2em;
        padding: .2em .5em;
        border-radius: 5px;
        background-color: #146405;
        box-shadow: inset 2px 2px 5px #fffa, inset -2px -2px 5px #000a; }
      .bg .form-container fieldset label {
        color: #146405;
        font-size: 1.3em;
        font-weight: 800;
        text-transform: capitalize;
        margin-top: .5em;
        padding: 0 0 .2em .2em; }
      .bg .form-container fieldset input, .bg .form-container fieldset select, .bg .form-container fieldset textarea {
        margin-bottom: 1em;
        border-radius: 5px;
        padding: .5em;
        border: 2px #045304 solid; }
        .bg .form-container fieldset input::placeholder, .bg .form-container fieldset select::placeholder, .bg .form-container fieldset textarea::placeholder {
          font-size: .8em; }
        .bg .form-container fieldset input:invalid, .bg .form-container fieldset select:invalid, .bg .form-container fieldset textarea:invalid {
          background-color: #00800034; }
        .bg .form-container fieldset input:focus, .bg .form-container fieldset select:focus, .bg .form-container fieldset textarea:focus {
          background-color: #227f8f34; }
      .bg .form-container fieldset textarea {
        width: 100%; }
    .bg .form-container .checkbox input {
      margin-right: 1em; }
    .bg .form-container .checkbox p {
      font-size: 1.5em;
      margin-bottom: .5em;
      text-decoration: underline;
      color: #146405;
      text-align: left; }
      @media (max-width: 768px) {
        .bg .form-container .checkbox p {
          font-size: 1.2em; } }
    .bg .form-container .checkbox label {
      color: #000; }
    .bg .form-container .radio {
      margin-top: 1.5em;
      text-transform: capitalize; }
    .bg .form-container .dropdown label {
      color: #146405; }
    .bg .form-container .dropdown select {
      font-size: 1.3em; }
    .bg .form-container #submit {
      display: block;
      color: #f4f4f4;
      margin: 1em auto;
      padding: .3em 1em;
      width: 50%;
      cursor: pointer;
      border: none;
      outline: none;
      font-weight: 600;
      font-size: 1.2rem;
      transition: .2s ease-in-out;
      position: relative;
      z-index: 1; }
      .bg .form-container #submit::before, .bg .form-container #submit::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        background-color: yellow;
        transition: .3s ease; }
      .bg .form-container #submit::before {
        z-index: -1;
        background-image: linear-gradient(0deg, #014b01, green);
        box-shadow: inset 3px 3px 5px #ddda, inset -3px -3px 5px #000a; }
      .bg .form-container #submit::after {
        z-index: -1;
        opacity: 0;
        background-image: linear-gradient(0deg, green, #014b01);
        box-shadow: inset 3px 3px 5px #000a, inset -3px -3px 5px #ddda; }
      .bg .form-container #submit:hover {
        transform: scale(0.98); }
        .bg .form-container #submit:hover::before {
          opacity: 0; }
        .bg .form-container #submit:hover::after {
          opacity: 1; }
      .bg .form-container #submit:active {
        transition: .2s;
        transform: scale(0.95); }
  .bg footer {
    background-color: #000;
    padding: 5vh 0;
    text-align: center; }
    .bg footer p {
      color: #f4f4f4; }
    .bg footer #date {
      color: #05ad05; }
