@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

.bg {
    background-image: url(/images/bg1.jpg);
    width: 100%;
    margin: 3 auto 0 auto;
    position: absolute;
    background-size: cover;
    background-color: #000;
}

p {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

/*header*/
header {
    color: #fff;
    text-align: center;
    margin-top: 0;
    padding: 30px;

}

#title {
    font-size: 4rem;
}

#description {
    color: rgb(7, 223, 7);
    font-weight: 900;
    font-size: 1.6rem;
    background-color: #000;
    opacity: .9;
    line-height: 2;

}

/*end of header*/

/*form*/
.form-container {
    position: relative;
    background-color: #f4f4f4;
    opacity: 0.98;
    padding: 50px;
    margin: 10px auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px green;
    opacity: .9;
}

/*Form-Group*/
.form-group label {
    color: #333;
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    font-weight: 800;
}


.form-group p {
    font-size: 1.7rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.form-group input {
    border: 2px rgb(4, 83, 4) solid;
    padding: 15px;
    margin: 30px 0;
    color: green;
    /*end of Form-Group*/

}

/*form-control*/
.form-control {
    padding: 30px;
    font-size: 1.5rem;
    font-weight: 600;
}

.form-control:hover {
    transition: .3s ease-in;
    box-shadow: 2px 0 10px 0 green;
}

/*end of form-control*/
/*checkbox*/

.checkbox input{
    margin-right: 20px;
}
.checkbox label{
    font-size: 2.1rem;
}
/*end of checkbox*/
/*radio*/
.radio input{
    margin-right: 20px;
}
.radio label{
    font-size: 2.1rem;
}
/*end of radio*/

/*end of form*/

/*sumbit*/
#submit {
    display: block;
    width: 100%;
    margin-top: 30px;
    padding: 0.75rem;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    background-color: rgb(7, 209, 7);
    font-size: 1.3rem;
    transition: .4s ease;
    box-shadow: 0px 0px 3px 2px green;

}

#submit:hover {
    transition: 0.4s ease;
    color: #fff;
    background: #008000;
    box-shadow: none;
}
#submit a{
    color: #fff;
}
/*end of sumbit*/



/*media query*/
@media only screen and (max-width: 768px) {

    .form-group label {
        display: flex;
        justify-content: flex-start;
        color: green;
        font-size: 1.8rem;
        margin-bottom: .5rem;
        font-weight: 600;
    }
    .form-group input{
        font-size: 1.5rem;
        font-weight: 530;

    }
    #title {
        font-size: 4rem;
    }


    .radio label {
        font-weight: 200;
    }

    .checkbox label {
        font-weight: 200;

    }

    .form-group p {
        text-align: center;
        text-decoration: underline;
    }

}

@media screen and (max-width: 400px) {
    
    #title {
        font-size: 1.9rem;
    }

    #description {
        font-size: .9rem;
        margin-top: 20px;
    }
    .form-container {
        position: relative;
        background-color: #f4f4f4;
        opacity: 0.98;
        padding: 50px;
        margin: 10px auto;
        width: 99%;
        border-radius: 0px;
        box-shadow: 0px 0px 20px 10px green;

    }
    .form-group label {
        font-size: 1.5rem;
    }

    .form-group input {
        border: 1px rgb(4, 83, 4) solid;
        padding: 5px;
        margin: 0;
        font-size: 1rem;
    }

    .form-control {
        padding: 5px;
        width: 100%;
        font-size: .9rem;
        font-weight: 600;
    }

    .form-control:hover {
        transition: none;
        box-shadow: none;
        font-size: none;
        font-weight: none;
    }

    .form-group {
        padding-bottom: 30px;
    }

    .radio label {
        padding: 10px;
    }
    .radio input{
        margin-right: 10px;
    }

    .checkbox label {
        padding: 10px;
    }
    .checkbox input{
        margin-right: 10px;
    }
    

    .form-group p {
        text-align: center;
        text-decoration: underline;
        font-size: 1rem;
    }

}

/*end of media query*/
